<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- This Menu Item will appear in the Upper bar, that's why It needs NO parent or action -->
    <menuitem 
        id="studio_menu_root" 
        name="Studio" 
        sequence="10"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem 
        id="studio_service_menu_categ" 
        name="Service" 
        parent="studio_menu_root" 
        sequence="10"/>
    
    <!-- This Menu Item Must have a parent -->
    <menuitem 
        id="studio_partner_menu_categ" 
        name="Partner" 
        parent="studio_menu_root" 
        sequence="20"/>

    
</odoo>
